<div class="jumbotron">
  <center>
    <h1><%= @donut.name %></h1>
    <img src="<%= @donut.image %>" class="img-responsive">
  </center>
  <h3>Name: <%= @donut.name %></h3>
  <h3>Glazing Type: <%= @donut.glazing %></h3>
  <h3>Available Extras: <%= @donut.availableExtras %></h3>
  <h3>Cost: $<%= @donut.cost %></h3>
  <br>
  <%= link_to "Back to Menu", donuts_path, class: "btn btn-success" %>
</div>